{% extends "feelfitness/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block header %}
<div class="container">
    <h5>Sign Up for Free</h5>
</div>
{% endblock header %}
{% block content %}
<div class="container">
    <form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    {{form.as_p}}

      <button name="submit" class="btn btn-primary">Sign up</button>
      <input type="hidden" name="next" value="{% url 'feelfitness:index' %}"/>
</form>
</div>
{% endblock content %}
